# Ignore Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore crash log files
crash.log

# Ignore .terraform directory
.terraform/

# Ignore Terraform variable files 
*.tfvars.json

# Ignore Infracost directory
.infracost/

